@import "../../../../assets/styles/abstracts/variables";
@import "../../../../assets/styles/base/animations";

.header {
  position: relative;
  width: 100%;
  z-index: 49 !important;
  background-color: #fff;
  transition: all 0.5s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  &._scroll {
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    .header__inner {
      padding: 15px 0;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 65px;
    padding: 20px 0;
    justify-content: space-between;
    transition: all 0.5s;
  }
  &__left {
    max-width: 50%;
    width: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
  }
  &__right {
    max-width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 24px;
  }
  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    &-item {
      margin-right: 20px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.88);
      position: relative;
      font-size: 14px;
      transition: 0.3s;
      cursor: pointer;
      white-space: nowrap;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      &.router-link-exact-active {
        color: $color-main;
        &::before {
          content: "";
          position: absolute;
          top: calc(100% + 2px);
          left: 50%;
          transform: translateX(-50%);
          width: 4px;
          height: 4px;
          border-radius: 50%;
          overflow: hidden;
          background-color: $color-main;
          text-align: center;
        }
      }
    }
  }
  &__language {
    position: relative;
    svg {
      cursor: pointer;
    }
  }

  &__account {
    position: relative;
    cursor: pointer;
    &-photo {
      position: relative;
      height: 42px;
      width: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #95abc6;
        height: 24px;
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        width: 24px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    left: -100%;
    padding-top: 10px;

    &-wrap {
      background-color: white;
      width: 150px;
    }

    &-link {
      display: flex;
      width: 100%;

      &:hover {
        background-color: $color-main;
        color: white;
      }
    }
  }
  &__basket {
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      svg {
        path {
          fill: $color-main;
        }
      }
    }
    &-icon {
      position: relative;
    }
    &-notification {
      position: absolute;
      top: 0;
      inset-inline-end: 0;
      transform: translate(50%, -50%);
      transform-origin: 100% 0%;
      z-index: auto;
      min-width: 20px;
      height: 20px;
      color: #ffffff;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-align: center;
      background: #119c75;
      border-radius: 0.5rem;
      box-shadow: 0 0 0 1px #ffffff;
      transition: background 0.2s;
    }
  }

  &__favourite {
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      svg {
        path {
          stroke: $color-danger;
        }
      }
    }
    &-icon {
      position: relative;
    }
    &-notification {
      position: absolute;
      top: 0;
      inset-inline-end: 0;
      transform: translate(50%, -50%);
      transform-origin: 100% 0%;
      z-index: auto;
      min-width: 20px;
      height: 20px;
      color: #ffffff;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      text-align: center;
      background: #119c75;
      border-radius: 0.5rem;
      box-shadow: 0 0 0 1px #ffffff;
      transition: background 0.2s;
    }
  }

  &__shadow {
    box-shadow: 0px 2px 6px rgba(70, 93, 122, 0.08);
  }
}

.logo {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.88);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.18px;
  -webkit-margin-end: 40px;
  margin-inline-end: 40px;

  span {
    line-height: 32px;
  }
  img {
    height: 32px;
    vertical-align: middle;
    -webkit-margin-end: 12px;
    margin-inline-end: 12px;
  }
}

.hamburger__menu {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 35px;
  }
}

.dropdown {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin-top: 4px;
  &__menu {
    position: relative;
    padding: 4px;
    list-style-type: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    &-item {
      padding: 5px 12px;
      color: rgba(0, 0, 0, 0.88);
      font-weight: normal;
      font-size: 14px;
      line-height: 1.5;
      cursor: pointer;
      transition: all 0.2s;
      border-radius: 0.5rem;
      &.active {
        background-color: rgba(0, 0, 0, 0.04);
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }
}

@media (max-width: 1260px) {
  .header__menu-item {
    margin-right: 20px;
  }
  .logo {
    margin-right: 20px;
  }
  .header__menu {
    margin-left: auto;
  }
  .header__left {
    max-width: unset;
    width: unset;
    padding-right: 10px;
  }

  .header__right {
    max-width: unset;
    width: unset;
  }

  .hamburger__menu {
  }
}

@media (max-width: 576px) {
  .header__left {
    max-width: 100%;
    width: 100%;
    padding-right: 10px;
  }

  .header__right {
    display: none;
  }
  .logo {
    flex: 1;
    justify-content: center;
    margin-right: 0;
  }
}

@keyframes fixedHeader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
