@import "animations";
@import "../abstracts/variables";

.overflow {
  overflow: hidden;
}

.bold-text {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.link-title {
  --color-hover: #{$color-danger};
  $transition: 0.13s;
  $self: &;
  transition: color #{$transition} linear;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-size: 15px;

  &[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }

  &--active-main {
    --color-hover: #{$color-main};
  }

  &--underline {
    background: linear-gradient(90deg, currentColor, currentColor) bottom/100%
      1px no-repeat;
    @include has-hover {
      transition: background #{$transition} ease-out;
      &:hover {
        background: linear-gradient(90deg, currentColor, currentColor) bottom/0
          1px no-repeat;
      }
    }
  }

  &--active-underline {
    @include has-hover {
      transition: background #{$transition} ease-out;
      background: linear-gradient(90deg, currentColor, currentColor) bottom/0
        1px no-repeat;
      &:hover {
        background: linear-gradient(90deg, currentColor, currentColor)
          bottom/100% 1px no-repeat;
      }
    }
  }

  &:not(&--active-no-color) {
    @include has-hover {
      &:hover {
        color: var(--color-hover);
      }
    }
  }

  &--icon {
    display: flex;
    align-items: center;

    #{$self}__icon-left,
    #{$self}__icon-right {
      transition: transform $transition ease-out;
    }

    #{$self}__icon-left {
      margin-right: 5px;
    }

    #{$self}__icon-right {
      margin-left: 5px;
    }
  }

  &--sizer {
    position: relative;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
    }
  }
}
.color-main {
  color: $color-main;
}
.color-secondary {
  color: $color-secondary;
}
.color-text {
  color: $color-text;
}
.color-danger {
  color: $color-danger;
}
.position-relative {
  position: relative;
}
.science-categories {
  .app-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 16px;
    transform: unset !important;
    min-height: 70px;
    box-shadow: none;

    &:hover {
      .app-card__photo {
        img {
          transform: unset;
        }
      }
    }
  }

  .app-card__title {
    margin-bottom: 0;
    font-size: 16px;
  }

  .app-card__photo {
    width: 62px;
    max-height: 30px;
    margin-right: 20px;
    margin-bottom: 0;

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .app-card__content {
    border: none;
    padding: 0;
  }

  .app-slider {
    &__button-next,
    &__button-previous {
      top: 50%;
    }
  }
}
.section {
  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &-details {
      margin-left: auto;
    }

    &-link {
      font-weight: 600;
      font-size: 14px;
      // line-height: 130%;
      color: #3165cb;
      padding: 11px 28px;
      background: rgba(49, 101, 203, 0.1);
      border-radius: 10px;
      border: 1px solid rgba(49, 101, 203, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: rgba(49, 101, 203, 0.1);
        border: 1px solid #3165cb;
        color: #3165cb;
      }
    }
  }
}
.block__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s;
  &:hover {
    border-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  }
}
.greyBg {
  background-color: #e7eef5;
}
.radius {
  border-radius: 0.5rem;
}
.shadowed {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bordered {
  border: 1px solid $border-color !important;
}
.w-100 {
  width: 100% !important;
}
.pointer {
  cursor: pointer;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px;
  padding: 30px 15px;
  background-color: #fff;
  &__main {
    flex: 1;
    width: 100%;
    &.lg {
      max-width: calc(100% - 270px);
    }
  }
}
.sidebar {
  max-width: 250px;
  width: 100%;
  &__menu {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 30px;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    &-item {
      width: 100%;
      padding: 15px 20px;
      color: #8a8a8a;
      font-weight: 700;
      font-family: inherit;
      text-align: center;
      transition: 0.3s;
      border-radius: 5px;
      margin-bottom: 5px;
      &.active {
        color: #fff;
        background: $color-main;
      }

      &:hover {
        color: #fff;
        background: $color-main;
      }
    }
  }
}
.custom__btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  color: $color-main;
  cursor: pointer;
  border-radius: 10px;
  line-height: normal;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;

  &:hover {
    background-color: #f9fafb;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  }

  &.favourite {
    &.active {
      color: $color-danger;

      svg {
        fill: $color-danger;

        path {
          stroke: $color-danger;
        }
      }
    }
  }

  &:active {
    box-shadow: none;
    transform: scale(0.95);
  }
}
