.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
