@import "../abstracts/variables";
.course {
  .course-card {
    max-width: 330px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    background: #fff;
    overflow: hidden;
    transition: 0.2s;
    position: relative;
    &:hover {
      box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d,
        0 12px 48px 16px #00000008;
    }
    .bg-shadow {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      background-color: #b659ff;
      filter: blur(70px);
    }
  }
  .course-card-header {
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    .course-icons-hover {
      opacity: 0;
      z-index: 1;
      cursor: pointer;
      transition: all 0.5s;
    }
    &:hover {
      .course-icons-hover {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }
  .course-card-photo {
    display: flex;
    justify-content: end;
  }
  .course-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 20px;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
  }
}
