@import "../abstracts/mixins";
@import "../abstracts/variables";

.a-btn {
  $trans: 0.15s;
  transition: color $trans linear, background-color $trans linear,
    transform $trans ease-out;
  cursor: pointer;
  user-select: none;
  border: 0;
  background-color: var(--background);
  color: var(--color);
  font-family: inherit;
  position: relative;
  text-align: center;
  > * {
    vertical-align: middle;
  }
  @include has-hover {
    &:hover {
      background-color: var(--background-hover);
      color: var(--color-hover);
    }
  }
  &:active {
    background-color: var(--background-active);
    color: var(--color-active);
    transform: scale(0.94);
  }
  &:before {
    transition: opacity $trans linear;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    box-shadow: 0 0 0 4px var(--background);
    opacity: 0;
    border-radius: inherit;
  }
  &:focus {
    &:before {
      opacity: 0.4;
    }
  }
  &--nf:focus:before {
    opacity: 0;
  }
  @each $height in (30, 40, 45, 50, 60) {
    &--hg-#{$height} {
      height: #{$height}px;
    }
  }
  @each $radius in (5, 8, 10, 15, 16, 20, 25, 28, 50, 100) {
    &--rd-#{$radius} {
      border-radius: #{$radius}px;
    }
  }
  @each $sidesPadding in (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50) {
    &--sd-#{$sidesPadding} {
      padding: 0 #{$sidesPadding}px;
    }
  }
  @each $fontSize in (12, 14, 16, 18, 20) {
    &--fn-#{$fontSize} {
      font-size: #{$fontSize}px;
    }
  }
  @each $weight in (400, 500, 600, 700) {
    &--wg-#{$weight} {
      font-weight: #{$weight};
    }
  }
  &--wd {
    width: var(--wd);
  }
  @each $theme, $bg, $bg-h, $bg-a, $cl, $cl-h,
    $cl-a
      in (
        (
          "light-green",
          #e9fcf6,
          lighten(#e9fcf6, 5%),
          darken(#e9fcf6, 5%),
          #119c75,
          #119c75,
          #119c75
        ),
        (
          "light-info",
          #f2f7ff,
          lighten(#f2f7ff, 5%),
          darken(#f2f7ff, 5%),
          #0067fb,
          #0067fb,
          #0067fb
        ),
        (
          "light-orange",
          #fef9e6,
          lighten(#fef9e6, 5%),
          darken(#fef9e6, 5%),
          #daab00,
          #daab00,
          #daab00
        ),
        (
          "light-purple",
          #f7f0fe,
          lighten(#f7f0fe, 5%),
          darken(#f7f0fe, 5%),
          #802fde,
          #802fde,
          #802fde
        ),
        (
          "light-pumpkin",
          #fff2f9,
          lighten(#fff2f9, 5%),
          darken(#fff2f9, 5%),
          #ff0096,
          #ff0096,
          #ff0096
        ),
        (
          "info",
          #0066ff,
          lighten(#0066ff, 5%),
          darken(#0066ff, 5%),
          white,
          white,
          white
        ),
        (
          "green",
          #119c75,
          lighten(#119c75, 5%),
          darken(#119c75, 5%),
          white,
          white,
          white
        ),
        (
          "orange",
          #daab00,
          lighten(#daab00, 5%),
          darken(#daab00, 5%),
          white,
          white,
          white
        ),
        (
          "purple",
          #802fde,
          lighten(#802fde, 5%),
          darken(#802fde, 5%),
          #fff,
          #fff,
          #fff
        ),
        (
          "pumpkin",
          #ff0096,
          lighten(#ff0096, 5%),
          darken(#ff0096, 5%),
          #fff,
          #fff,
          #fff
        ),
        (
          "white",
          white,
          lighten(white, 5%),
          darken(white, 5%),
          $text-color-default,
          $text-color-default,
          $text-color-default
        ),
        (
          "transparent",
          transparent,
          rgba($color-main, 0.1),
          rgba($color-main, 0.15),
          inherit,
          inherit,
          inherit
        ),
        ("gray", #f2f2f3, #f2f2f3, darken(#f2f2f3, 5%), #000, #000, #000),
        (
          "red",
          rgb(244 44 44),
          lighten(rgb(244 44 44), 5%),
          darken(rgb(244 44 44), 5%),
          white,
          white,
          white
        )
      )
  {
    &--th-#{$theme} {
      --background: #{$bg};
      --background-hover: #{$bg-h};
      --background-active: #{$bg-a};
      --color: #{$cl};
      --color-hover: #{$cl-h};
      --color-active: #{$cl-a};
    }
  }
  &--shadow-default {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  &--shadow-medium {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  &--line {
    background: transparent;
    --color: var(--background);
    &:after {
      transition: border #{$trans} linear;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      border: 1px solid var(--background);
    }
    @include has-hover {
      &:hover {
        &:after {
          border: 1px solid var(--background-hover);
        }
      }
    }
    &:active:after {
      border: 1px solid var(--background-active);
    }
  }

  &--fl {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &[disabled] {
    opacity: 0.55;
    cursor: not-allowed;
    &:before {
      display: none;
    }
    &:active {
      transform: none;
    }
  }
}
