@import "../abstracts/variables";
.search {
    padding: 15px;
    border-radius: 10px;
    width: 160px;
    border: 1px solid white;

    &__container {

    }

    &__button {
        width: 10px;
        height: 10px;
        margin-right: 30px;
        padding: 0;
    }

    &__button-image {
        vertical-align: middle;
    }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
    font-size: 15px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    grey;
    font-size: 15px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    grey;
    font-size: 15px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    grey;
    font-size: 15px;
}

.inline {
    display: inline-block;
}
