@import "../abstracts/variables";
.form-group {
  margin-bottom: 2px;
}
.auth {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #3165cb;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  padding: 30px 0;
  &__wrap {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 7.3px 29px rgb(0 0 0 / 5%);
    border-radius: 0.5rem;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .auth {
    &__wrap {
      padding: 30px;
    }
  }
}
